/* stop some themes from messing up Google Maps' styling (e.g. twentyeleven) */

.flxmap-container img {
	max-width: none !important;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
	background-color: transparent !important;
}

/* some basic styling for info window */

.flxmap-infowin {
	font-family: Arial,Helvetica,sans-serif;
}

.flxmap-marker-title {
	font-weight: bold;
	font-size: medium;
}

.flxmap-marker-link, .flxmap-directions-link {
	font-weight: normal;
	font-size: small;
}
